APP_NAME=Skeleton
APP_VER=dev
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Tokyo
APP_LOCALE=ja

APP_API_URL=http://api.test

LOG_CHANNEL=single
LOG_SLACK_WEBHOOK_URL=
LOG_LEVEL=debug
LOG_STDERR_FORMATTER=json

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=forge
DB_USERNAME=forge
DB_PASSWORD=secret

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
