APP_NAME=Skeleton
APP_ENV=local
APP_VER=dev
APP_KEY=
APP_DEBUG=true
APP_URL=http://api.test
APP_TIMEZONE=Asia/Tokyo
APP_LOCALE=ja

LOG_CHANNEL=single
LOG_SLACK_WEBHOOK_URL=
LOG_LEVEL=debug
LOG_STDERR_FORMATTER=json

DB_CONNECTION=mysql
DB_HOST=skeleton-db
DB_PORT=3306
DB_DATABASE=skeleton
DB_USERNAME=skeleton
DB_PASSWORD=secret

# global (no shard)
GLOBAL_DB_CONNECTION=mysql
GLOBAL_DB_HOST=skeleton-db
GLOBAL_DB_DATABASE=skeleton
GLOBAL_DB_PORT=3306
GLOBAL_DB_USERNAME=skeleton
GLOBAL_DB_PASSWORD=secret

# game (use shard)
GAME_DB_CONNECTION=mysql
# (shard1)
GAME_DB_SHARD1_HOST_READ=skeleton-db
GAME_DB_SHARD1_HOST_WRITE=skeleton-db
GAME_DB_SHARD1_PORT=3306
GAME_DB_SHARD1_DATABASE=skeleton
GAME_DB_SHARD1_USERNAME=skeleton
GAME_DB_SHARD1_PASSWORD=secret
# (shard2)
GAME_DB_SHARD2_HOST_READ=skeleton-db
GAME_DB_SHARD2_HOST_WRITE=skeleton-db
GAME_DB_SHARD2_PORT=3306
GAME_DB_SHARD2_DATABASE=skeleton
GAME_DB_SHARD2_USERNAME=skeleton
GAME_DB_SHARD2_PASSWORD=secret

# gmtool (no shard)
GMTOOL_DB_CONNECTION=mysql
GMTOOL_DB_HOST=skeleton-db
GMTOOL_DB_DATABASE=skeleton
GMTOOL_DB_PORT=3306
GMTOOL_DB_USERNAME=skeleton
GMTOOL_DB_PASSWORD=secret

# ranking (no shard)
RANKING_DB_CONNECTION=mysql
RANKING_DB_HOST=skeleton-db
RANKING_DB_DATABASE=skeleton
RANKING_DB_PORT=3306
RANKING_DB_USERNAME=skeleton
RANKING_DB_PASSWORD=secret

# master_db (no shard)
MASTER_DB_CONNECTION=mysql
MASTER_DB_HOST=skeleton-db
MASTER_DB_PORT=3306
MASTER_DB_DATABASE=skeleton
MASTER_DB_USERNAME=skeleton
MASTER_DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

REDIS_HOST=skeleton-redis
REDIS_PASSWORD=null
REDIS_PORT=6379
